<a href="https://colab.research.google.com/github/beingshivam/Data_Analysis/blob/master/EDA_car_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
#1)
file_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/automobileEDA.csv'
df = pd.read_csv(file_path)

In [5]:
df.head()

   symboling  normalized-losses         make  ... horsepower-binned diesel gas
0          3                122  alfa-romero  ...            Medium      0   1
1          3                122  alfa-romero  ...            Medium      0   1
2          1                122  alfa-romero  ...            Medium      0   1
3          2                164         audi  ...            Medium      0   1
4          2                164         audi  ...            Medium      0   1

[5 rows x 29 columns]

In [6]:
df.describe()

        symboling  normalized-losses  ...      diesel         gas
count  201.000000          201.00000  ...  201.000000  201.000000
mean     0.840796          122.00000  ...    0.099502    0.900498
std      1.254802           31.99625  ...    0.300083    0.300083
min     -2.000000           65.00000  ...    0.000000    0.000000
25%      0.000000          101.00000  ...    0.000000    1.000000
50%      1.000000          122.00000  ...    0.000000    1.000000
75%      2.000000          137.00000  ...    0.000000    1.000000
max      3.000000          256.00000  ...    1.000000    1.000000

[8 rows x 19 columns]

In [7]:
#2)
df.describe(include='object')

          make aspiration  ... fuel-system horsepower-binned
count      201        201  ...         201               200
unique      22          2  ...           8                 3
top     toyota        std  ...        mpfi               Low
freq        32        165  ...          92               115

[4 rows x 10 columns]

In [8]:
df['drive-wheels'].value_counts()

fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64

In [0]:
#3)
df_drive_wheel_counts = df['drive-wheels'].value_counts().to_frame()

In [10]:
df_drive_wheel_counts

     drive-wheels
fwd           118
rwd            75
4wd             8

In [0]:
df_body_style_counts = df['body-style'].value_counts().to_frame()

In [12]:
df_body_style_counts

             body-style
sedan                94
hatchback            68
wagon                25
hardtop               8
convertible           6

In [0]:
#4)
#rename the columns

df_drive_wheel_counts.rename(columns={'drive-wheels':'drive-wheels-value-counts'}, inplace=True)

df_body_style_counts.rename(columns={'body-style':'body-style-value-counts'}, inplace=True)

In [14]:
df_drive_wheel_counts

     drive-wheels-value-counts
fwd                        118
rwd                         75
4wd                          8

In [0]:
df_drive_wheel_counts.index.name='drive-wheels'

In [16]:
df_drive_wheel_counts

              drive-wheels-value-counts
drive-wheels
fwd                                 118
rwd                                  75
4wd                                   8

In [0]:
df_body_style_counts.index.name='body-style'

In [18]:
df_body_style_counts

             body-style-value-counts
body-style
sedan                             94
hatchback                         68
wagon                             25
hardtop                            8
convertible                        6

In [19]:
df['engine-type'].value_counts()

ohc      145
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
Name: engine-type, dtype: int64

In [0]:
df_engine_type_value_counts = df['engine-type'].value_counts().to_frame()

In [23]:
df_engine_type_value_counts

       engine-type
ohc            145
ohcf            15
ohcv            13
dohc            12
l               12
rotor            4

In [0]:
df_engine_type_value_counts.rename(columns={'engine-type':'engine-type-counts'}, inplace = True)

In [25]:
df_engine_type_value_counts

       engine-type-counts
ohc                   145
ohcf                   15
ohcv                   13
dohc                   12
l                      12
rotor                   4

In [0]:
df_engine_type_value_counts.index.name='engine-type'

In [27]:
df_engine_type_value_counts

             engine-type-counts
engine-type
ohc                         145
ohcf                         15
ohcv                         13
dohc                         12
l                            12
rotor                         4

In [28]:
#5) basics of grouping

df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [0]:
df_group_one = df[['drive']]