<a href="https://colab.research.google.com/github/beingshivam/Data_Analysis/blob/master/ML_Simple_Decision_Tree_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [4]:
home_file = "train.csv"

home_data = pd.read_csv(home_file, index_col=0)
home_data.head()

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

In [0]:
#prediction/target variable

Y = home_data.SalePrice

In [0]:
#choosing features

home_features = ["LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"]

X = home_data[home_features]

In [8]:

X.describe()

             LotArea    YearBuilt  ...  BedroomAbvGr  TotRmsAbvGrd
count    1460.000000  1460.000000  ...   1460.000000   1460.000000
mean    10516.828082  1971.267808  ...      2.866438      6.517808
std      9981.264932    30.202904  ...      0.815778      1.625393
min      1300.000000  1872.000000  ...      0.000000      2.000000
25%      7553.500000  1954.000000  ...      2.000000      5.000000
50%      9478.500000  1973.000000  ...      3.000000      6.000000
75%     11601.500000  2000.000000  ...      3.000000      7.000000
max    215245.000000  2010.000000  ...      8.000000     14.000000

[8 rows x 7 columns]

In [9]:
X.head()

    LotArea  YearBuilt  1stFlrSF  ...  FullBath  BedroomAbvGr  TotRmsAbvGrd
Id                                ...
1      8450       2003       856  ...         2             3             8
2      9600       1976      1262  ...         2             3             6
3     11250       2001       920  ...         2             3             6
4      9550       1915       961  ...         1             3             7
5     14260       2000      1145  ...         2             4             9

[5 rows x 7 columns]

In [17]:
#building a model

home_model = DecisionTreeRegressor(random_state=1)

#fit model
home_model.fit(X,Y)

print("Predictions for 10 houses:")
print(X.head(10))
print("The predicted prices are:")
y_pred = home_model.predict(X.head(10))
print(y_pred)

Predictions for 10 houses:
    LotArea  YearBuilt  1stFlrSF  ...  FullBath  BedroomAbvGr  TotRmsAbvGrd
Id                                ...
1      8450       2003       856  ...         2             3             8
2      9600       1976      1262  ...         2             3             6
3     11250       2001       920  ...         2             3             6
4      9550       1915       961  ...         1             3             7
5     14260       2000      1145  ...         2             4             9
6     14115       1993       796  ...         1             1             5
7     10084       2004      1694  ...         2             3             7
8     10382       1973      1107  ...         2             3             7
9      6120       1931      1022  ...         2             2             8
10     7420       1939      1077  ...         1             2             5

[10 rows x 7 columns]
The predicted prices are:
[208500. 181500. 223500. 140000. 250000. 143000. 307000. 200000. 129900.
 118000.]

In [0]:
#actual prices of first 10 houses

y_test = home_data["SalePrice"].head(10)

In [16]:
#evaluate accuracy
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 1.0